body{
  margin: 0;
  padding: 0;
  font-family: "montserrat" , sans-serif;
  background-color: #000;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  letter-spacing: 14px;
}

.text::before,.text::after{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
}

.text::before{
  color: #8B0000;
  animation: glitch-effect 2s infinite;
}

.text::after{
  color: #FFFF00;
  animation: glitch-effect 2.5s infinite;
}

@keyframes glitch-effect{
  0%{
    left: -5px;
    top: -2px;
  }

  25%{
    left: 3px;
    top: 0px;
  }

  50%{
    left: 0px;
    top: -2px;
  }

  75%{
   left: 1px;
   top: -1px;
 }

 100%{
  left: 0px;
  top: -2px;
}
}